<div class="left six columns alpha">
  <div class="field">
    <%= f.check_box(:gtm_listable) %>
    <%= f.label :gtm_listable, Spree.t(:gtm_listable)%>
  </div>

  <div class="field">
    <%= image_tag(@product.feed_image.url(:mini)) %>

    <%= file_field(:product, :feed_image) %>
    <%= f.label :feed_image, Spree.t(:feed_image)%>
  </div>
</div>
