<% content_for :page_title do %>
  <%= t('edit_google_merchant_settings') %>
<% end %>

<%= form_tag(admin_google_merchants_path, :method => :put) do %>
  <fieldset class='no-border-top'>
    <div class='row'>
      <fieldset class='no-border-bottom'>
        <legend align='center'>Info</legend>
        <div class='field'>
          <label><%= t("google_merchant_title") %></label><br/>
          <%= text_field_tag('preferences[google_merchant_title]', Spree::GoogleMerchant::Config[:google_merchant_title], :class => 'fullwidth') %>
        </div>
        <div class='field'>
          <label><%= t("google_merchant_description") %></label><br/>
          <%= text_field_tag('preferences[google_merchant_description]', Spree::GoogleMerchant::Config[:google_merchant_description], :class => 'fullwidth') %>
        </div>
        <div class='field'>
          <label><%= t('production_domain') %></label><br/>
          <%= text_field_tag('preferences[production_domain]', Spree::GoogleMerchant::Config[:production_domain], :class => 'fullwidth')%>
        </div>
      </fieldset>
    </div>
    <div class='form-buttons filter-actions actions' data-hook='buttons'>
      <%= button t('update'), 'icon-refresh' %>
      <span class='or'><%= t('or') %></span>
      <%= button_link_to t('cancel'), admin_google_merchants_url, :icon => 'icon-remove' %>
    </div>
  </fieldset>
<% end %>
